.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.pb-3 .py-3 {
    padding-bottom: 1rem!important;
}

.pt-1 .py-1 {
    padding-top: .25rem!important;
}

.pb-1, .py-1 {
    padding-bottom: .25rem!important;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}

.col-4 {
    flex: 0 0 33.3333333%;
    max-width: 33.33333333%;
}

.text-muted {
    color: #6c757d!important;
}

a {
    text-decoration: none;
    background-color: transparent;

}
.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between!important;
}

.justify-content-end {
    justify-content: flex-end!important;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.text-center {
    text-align: center;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

 /*Button sccs for the blog*/
.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*Navigation nav scroller beloe the header*/
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

