.text-white {
    color: #fff!important;
}

@media (min-width: 768px) {
    .p-md-5 {
        padding: 3rem !important;
    }
}

@media (min-width:576px) {
    .jumbotron {
        padding: 4rem 2rem;
    }
}

.rounded {
    border-radius: .25rem!important;
}

.bg-dark {
    background-color: #343a40!important;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
