.Table {
  border-spacing: 0px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  font-family: 'Raleway';
}

.Cell {
  border: 3px solid #e4e4e4;
  padding: 4px;
  text-align: center;
  height:100px;
  max-width:150px;
  width:150px;
}

//https://engineering.shopify.com/blogs/engineering/building-data-table-component-react
//https://www.nan-labs.com/blog/selector-pattern-in-react-redux-apps/
