.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.position-relative {
    position: relative!important;
}

.no-gutters {
    margin-right: 0;
    margin-left:0;
}
.p-4 {
    padding: 1.5rem!important;
}

.d-flex {
    display:  flex!important;
}

.d-inline-block {
    display: inline-block!important;
}

.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.text-muted {
    color: #6c757d!important;
}

.mb-1, .my-1 {
    margin-bottom: .25rem!important;
}

.mb-auto, .my-auto {
    margin-bottom: auto!important;
}

.text-primary {
    color: #007bff!important;
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .d-lg-block {
        display: block !important;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
